[Unit]
Description=Confluent Platform Zookeeper
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=25

[Service]
Type=simple
Restart=always
RestartSec=1
Environment="PATH=/home/confluent/opt/jdk-15.0.2/bin:/home/confluent/opt/confluent-6.1.1/bin:/home/confluent/opt/confluent-hub-client/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
User=confluent
ExecStart=/home/confluent/opt/confluent-6.1.1/bin/zookeeper-server-start /home/confluent/opt/confluent-6.1.1/etc/myConfig/zookeeper.properties
ExecStop=/home/confluent/opt/confluent-6.1.1/bin/zookeeper-server-stop /home/confluent/opt/confluent-6.1.1/etc/myConfig/zookeeper.properties

[Install]
WantedBy=multi-user.target
